.carousel-container {
  position: relative;
  overflow: hidden;
  border: 1px solid hsl(var(--border));
  border-radius: 24px;
  padding: 16px;
  background-color: hsl(var(--background));
  --outer-r: 24px;
  --p-distance: 12px;
}

.carousel-track {
  display: flex;
}

.carousel-item {
  position: relative;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border: 1px solid hsl(var(--border));
  border-radius: calc(var(--outer-r) - var(--p-distance));
  background-color: hsl(var(--card));
  color: hsl(var(--card-foreground));
  overflow: hidden;
  cursor: grab;
  transform-style: preserve-3d;
}

.carousel-item:active {
  cursor: grabbing;
}

.carousel-container.round {
  border: 1px solid hsl(var(--border));
}

.carousel-item.round {
  background-color: hsl(var(--card));
  position: relative;
  bottom: 0.1em;
  border: 1px solid hsl(var(--border));
  justify-content: center;
  align-items: center;
  text-align: center;
}

.carousel-item-header.round {
  padding: 0;
  margin: 0;
}

.carousel-indicators-container.round {
  position: absolute;
  z-index: 2;
  bottom: 3em;
  left: 50%;
  transform: translateX(-50%);
}

.carousel-indicator.active {
  background-color: hsl(var(--primary));
}

.carousel-indicator.inactive {
  background-color: hsl(var(--muted-foreground) / 0.4);
}

.carousel-item-header {
  margin-bottom: 16px;
  padding: 20px;
  padding-top: 20px;
}

.carousel-icon-container {
  display: flex;
  height: 28px;
  width: 28px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: hsl(var(--primary));
}

.carousel-icon {
  height: 16px;
  width: 16px;
  color: hsl(var(--primary-foreground));
}

.carousel-item-content {
  padding: 20px;
  padding-bottom: 20px;
}

.carousel-item-title {
  margin-bottom: 4px;
  font-weight: 900;
  font-size: 18px;
  color: hsl(var(--foreground));
}

.carousel-item-description {
  font-size: 14px;
  color: hsl(var(--muted-foreground));
}

.carousel-indicators-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.carousel-indicators {
  margin-top: 16px;
  display: flex;
  width: 150px;
  justify-content: space-between;
  padding: 0 32px;
}

.carousel-indicator {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 150ms;
}

.carousel-indicator.active {
  background-color: hsl(var(--primary));
}

.carousel-indicator.inactive {
  background-color: hsl(var(--muted-foreground) / 0.5);
}

